* {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding:  0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

.menu-bar{
	background-image: linear-gradient(-90deg, #414141, #7F8C8D);
}

.nav-link {
	font-size: 16px;
	margin: 3px;
	color: #fff!important;
	font-weight: 500;
}

.nav-link:hover {
	color: linear-gradient(-90deg, #414141, #7F8C8D);
	font-weight: 600;
	border-bottom: 1px solid;
}

body {
	background-image: url(./images/bg8.jpg);
	background-size: cover;
	background-repeat: repeat;
	background-position: center;
	overflow-y: scroll;
	overflow-x: hidden;
}

#landingPage, #footer {
	background-image: linear-gradient(-90deg, #414141, #7F8C8D);
}

#image {	
	height: 300px;
	width: 300px;
	border-radius: 10px;
}

#projects, #message, #drop {
	border-radius: 10px;
	background-image: linear-gradient(-90deg, #414141, #7F8C8D);
}
